.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.film {
  position: relative;
  color: var(--clr-whitetxt);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-radius: 15px; /* Ajout des coins arrondis */
  overflow:hidden;
}

.film:hover {
  transform: translateY(-5px); /* Légère élévation au survol */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
}

.film__tumbnail {
  position: relative;
  display: inline-block;
  height: 20rem;
  width: auto;
  overflow: hidden;
}

.film__tumbnail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Assurez-vous que le dégradé couvre toute la hauteur */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1; /* Placez le dégradé au-dessus de l'image */
  pointer-events: none; /* Empêche toute interaction avec cet élément */
}

.film__image {
  display: block;
  height: 20rem;
  object-fit: cover;
  position: relative;
  z-index: 0; /* Placez l'image en dessous du dégradé */
}

.film__title {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-white);
  padding: 0.3rem 0.5rem; /* Réduit le padding pour économiser de l'espace */
  max-width: 90%; /* Augmente la largeur maximale à 90% du conteneur */
  text-align: center;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Cache le texte qui dépasse */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
  z-index: 2;
}