
.film {
  position: relative;
  color: var(--color-fg);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-radius: 15px;
  overflow:hidden;
}

.film:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.541);
}

.film__tumbnail {
  position: relative;
  display: inline-block;
  height: 20rem;
  width: auto;
  overflow: hidden;
}

.film__tumbnail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
  pointer-events: none; 
}

.film__image {
  display: block;
  height: 20rem;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.film__title {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-white);
  padding: 0.3rem 0.5rem;
  max-width: 90%; 
  text-align: center;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  z-index: 2;
}

.add-to-favorites-button {
  background-color: var(--color-primary); /* Couleur vive pour le bouton */
  color: var(--color-white); /* Texte blanc pour une bonne lisibilité */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--ff-outfit); /* Police moderne */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: all 0.3s ease; /* Transition fluide pour les interactions */
}

.add-to-favorites-button:hover {
  background-color: var(--color-secondary); /* Couleur plus sombre au survol */
  transform: translateY(-2px); /* Légère élévation au survol */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre subtile */
}

.add-to-favorites-button:active {
  transform: translateY(1px); /* Effet de clic */
  background-color: var(--color-secondary); /* Couleur plus sombre au clic */
}

.add-to-favorites-button:disabled {
  background-color: var(--color-primary); /* Couleur neutre pour les boutons désactivés */
  color: var(--color-gray); /* Texte atténué */
  cursor: not-allowed; /* Curseur non interactif */
  box-shadow: none;
}