.film__image{
  width: 265px;
  min-height: 397px;
  z-index: 0;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.film__title{
  font-size: 16px;
  color: white;
  margin: 0rem;
  font-family: var(--ff-sans);
}

.film{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 265px;
  min-height: 397px;
  border-radius: 10px;
  padding: 10px;
}

.tag-new{
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--ff-sans);
  padding: 3px;
  font-size: 16px;
  transform: translate(-270%, -710%);
  z-index: 1;
  position: absolute;
}