.movie-category {
    margin-bottom: 3rem;
  }
  
  .movie-category__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-fg);
    font-family: var(--ff-boldonse);
  }
  
  .movie-category__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  /* Bouton Ajouter aux Favoris */
.add-to-favorites-button {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-favorites-button:hover {
  background-color: var(--color-accent-dark);
  transform: scale(1.05); /* Légère mise en avant au survol */
}

.add-to-favorites-button:active {
  transform: scale(0.95); /* Effet de clic */
  background-color: var(--color-accent-light);
}