.movie-category {
    margin-bottom: 3rem;
  }
  
  .movie-category__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--clr-primary);
  }
  
  .movie-category__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }