/* Styles de base pour mobile */
.movie-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
}

.movie-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-white);
    font-family: var(--ff-sans);
    margin-bottom: 15px;
}

.movie-poster {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.movie-poster img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    color: var(--color-white);
    font-family: var(--ff-sans);
}

.movie-details li {
    flex: 1 1 100%;
    font-size: 1rem;
    margin-bottom: 10px;
}

.movie-description {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 100%;
    padding: 0 10px;
    color: var(--color-white);
    font-family: var(--ff-sans);
}

.movie-trailer {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    position: relative;
    padding-bottom: 42.85%;
    height: 0;
    overflow: hidden;
}

.movie-trailer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
}

.movie-rating {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-top: 20px;
    box-sizing: border-box;
    color: var(--color-white);
    font-family: var(--ff-sans);
    border-top: 1px solid var(--color-white);
}

.rating-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.average-rating {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

#rating-interface {
    display: flex;
    align-items: center;
    gap: 10px;
}

#rating {
    padding: 8px;
    font-size: 0.9rem;
    border-radius: 6px;
    border: none;
    font-family: var(--ff-sans);
}

.rate-button {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px 15px;
    font-size: 0.9rem;
    gap: 3px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-family: var(--ff-sans);
}

.rate-button:hover {
    background-color: #e5e5e5;
}

.new-detail {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    margin-left: 10px;
    text-transform: uppercase;
}

/* Styles pour les écrans plus larges */
@media (min-width: 768px) {
    .movie-info {
        padding: 2rem;
    }

    .movie-title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .movie-poster {
        max-width: 300px;
        margin-bottom: 1.5rem;
    }

    .movie-details {
        display: grid;
        grid-template-columns: 50% 50%; /* Toujours 2 colonnes */
        gap: 1rem 2rem;
        padding: 0;
        margin: 2rem 0;
    }

    .movie-description {
        font-size: 1.5rem;
        padding: 0;
    }

    .movie-trailer iframe {
        height: 100%;
    }

    .movie-rating {
        padding: 2rem;
    }

    .rating-title {
        font-size: 2.5rem;
    }

    #rating-interface {
        gap: 1rem;
    }

    #rating {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .rate-button {
        font-size: 16px;
        padding: 8px 16px;
    }
}