    <div class="movie-info">
        <h1 class="movie-title">{{movieTitle}} {{newTag}}</h1>
        <div class="movie-poster">
            <img src="../server/images/{{image}}" alt="Affiche de {{movieTitle}}">
        </div>
        <p class="movie-description">{{movieDescription}}</p>
        <ul class="movie-details">
            <li><strong>Réalisateur :</strong> {{movieDirector}}</li>
            <li><strong>Année de sortie :</strong> {{movieReleaseYear}}</li>
            <li><strong>Catégorie :</strong> {{movieCategory}}</li>
            <li><strong>Restrictions d'âge :</strong> {{movieAgeRestriction}}</li>
        </ul>
    </div>

    <div class="movie-trailer">
        <h2>Trailer</h2>
        <iframe 
            width="560" 
            height="315" 
            src="{{movieTrailerUrl}}" 
            title="Trailer de {{movieTitle}}" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
    <div class="movie-rating">
        <h2>Noter le film</h2>
        <p class="average-rating">Note moyenne : <span id="average-rating">{{averageRating}}</span>/10</p>
        <div id="rating-interface">
            <label for="rating">Votre note :</label>
            <select id="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button onclick="{{onclick}}">Noter</button>
        </div>
</div>
