.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-primary);
  background-color: var(--color-bg);

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    font-family: var(--ff-outfit);
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
}

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.navbar__profile-select {
  margin-left: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  background-color: var(--color-bg);
  color: var(--color-primary);
  cursor: pointer;
}

.navbar__profile-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.navbar__profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.navbar__profile-avatar:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease, border-color 0.3s ease;
}
